*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin-top: 50px;
    height: 10%;
    width: 100%;
    background: #121b25;
}
section{
    padding: 80px 13% 70px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , auto)) ;
    gap: 3.5rem;
    background: #1a242f;
}
.footer-content h4{
    color: #fff;
    font-size: 20;
}
h1 
{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding-left: 8px;
}
.footer-content li{
    margin-bottom: 16px;
    color: #c1bcbc;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content li a:hover{
    transform: translatey(-3px) translate(-5px);
    color: #fff;
}
.footer-content p{
    color: #c1bcbc;
    font-size: 15px;
    padding-left: 8px;
    line-height: 30px;
    margin: 20px 0;
}
.icons a{
    display: inline-block;
    font-size: 30px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;

}