<body>
    <section class="footer">
        <div class="footer-content">
            <h1>FASHION</h1>
                <p>Complete your style</p>
                <p>with awesome</p>
                <p>clothes from us</p>
    
            <div class="icons">
                <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
    
        </div>
    
        <div class="footer-content">
            <h4>Company</h4>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="menu">Dress</a></li>
            <li><a routerLink="#">About</a></li>
            <li><a routerLink="#">Contact us</a></li>
        </div>
    
        <div class="footer-content">
            <h4>Quick Link</h4>
            <li><a routerLink="#">Share location</a></li>
            <li><a routerLink="#">Orders Tracking</a></li>
            <li><a routerLink="#">Size Guide</a></li>
            <li><a routerLink="#">FAQs</a></li>
        </div>
    
        <div class="footer-content">
            <h4>Legal</h4>
            <li>Terms & conditions</li>
            <li>Privacy Policy</li>
        </div>
    
    </section>
    
</body>

